{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Pada tahun 2013, PT Dyviacom Intrabumi Tbk (DNET), mengakuisisi 3 perusahaan yang bergerak dibidang ritel, yaitu PT Nippon Indosari Corpindo Tbk (Sari Roti), PT Fastfood Indonesia Tbk (KFC) dan PT Indomarco Prismatama (Indomaret). DNET kemudian berubah nama menjadi PT Indoritel Makmur Internasional Tbk, dan menjadi induk perusahaan bagi ketiganya.[1]
            Kepemilikan DNET di Indomaret dan Sari Roti merupakan pemegang saham mayoritas dimana masing-masing memiliki 40% dan 31,5%.<br> Sedangkan di KFC, DNET menjadi pemegang saham terbesar kedua 35,8%.
            Per tanggal 26 September 2014, Salim Group (induk usaha Indomaret) melalui kongsi strategis dengan Philadel (Philadel Terra Lestari), telah memiliki 20% saham PT Bank Ina Perdana Tbk (Bank Ina). Philadel berencana menambah kepemilikan saham di Bank Ina hingga 30% untuk mensinergikan sistem kantor tanpa cabang Bank Ina dengan jaringan retail Indomaret.[2]
            Pada tanggal 24 Agustus 2017, PT XL Axiata Tbk telah mengumumkan bahwa Elevenia, sebuah perusahaan Online Shopping, tak akan lagi menjadi milik perusahaannya. Sehari sebelumnya, juga beredar kabar bahwa mitra XL di Elevenia, SK Planet, juga hengkang. Per paruh kedua 2017, Elevenia memang di bawah Grup Salim (induk usaha Indomaret) lewat PT Jaya Kencana Mulia Lestari dan Superb Premium Pte. Ltd.[3]</p>
</div>
{% endblock content %}
