{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>PT Indomarco Prismatama, beroperasi sebagai Indomaret, adalah jaringan pengecer waralaba di Indonesia. Indomaret merupakan salah satu anak perusahaan Salim Group.
Indomaret merupakan jaringan minimarket yang menyediakan kebutuhan pokok dan sehari-hari dengan luas area penjualan kurang dari 200 m2.<br> Toko pertama dengan nama Indomart dibuka di Ancol, Jakarta Utara, pada tanggal 20 Juni 1988, dikelola oleh PT Indomarco Prismatama. Tahun 1997 perusahaan mengembangkan bisnis gerai waralaba pertama di Indonesia, setelah memiliki lebih dari 230 gerai. Jumlah gerai hingga tahun 2015 adalah 11.400 gerai dengan rincian 60% gerai adalah milik sendiri dan sisanya waralaba milik masyarakat. Sampai dengan Juni tahun 2021, jumlah gerai sebanyak 18.939 gerai.[butuh rujukan] Mitra usaha waralaba ini meliputi koperasi, badan usaha dan perorangan. Indomaret tersebar merata dari Sumatera, Batam, Jawa, Madura, Bali, NTB, NTT, Kalimantan, Sulawesi dan Maluku. Motto perusahaan adalah Mudah dan Hemat.</p>
        </div>
    </div>
</div>
{% endblock content %}