{% extends 'base.html' %}

{% block content %}
<br><br>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="body">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Stok</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Kategori</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in produk %}
                            <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ p.nama }}</td>
                            <td>{{ p.harga }}</td>
                            <td>{{ p.stok }}</td>
                            <td>{{ p.deskripsi }}</td>
                            <td>{{ p.kategori }}</td>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}